<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130972503197-3bfkh5tnmvdhk5dgb67kojd89410ggar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130972503197-3bfkh5tnmvdhk5dgb67kojd89410ggar</string>
	<key>API_KEY</key>
	<string>AIzaSyA0PFGInOBJiEb9G8SO0On6YyFEP3ugxRc</string>
	<key>GCM_SENDER_ID</key>
	<string>130972503197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sauerapple.circle</string>
	<key>PROJECT_ID</key>
	<string>circle-5fafc</string>
	<key>STORAGE_BUCKET</key>
	<string>circle-5fafc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130972503197:ios:13d15e94891bb1d76a5874</string>
</dict>
</plist>